/* 
	-- GENERAL -- 
*/
h2 {
	font-family: 'Ma Shan Zheng', cursive;
}

.white {
	color:white;
}

a {
	text-decoration: none;
}
/* ################################################################################### */
/* 
	-- CONTENU -- 
*/
#presentation-content {
	border: 1px dashed black;
	min-height: 130px;
	margin-bottom: 50px;
	display:flex;
}

.presentation {
	font-family: 'Patrick Hand', cursive;
	font-style: italic;
	width:90%;
	margin: auto;
	display: inline-flex;
	flex-wrap: nowrap;
}

.img-biographie {
	max-height: 200px;
}
.img-biographie img{
	width:150px;
}

.biographie {
	margin-left: 10px;
}

.vertical-align {
    display: flex;
    align-items: center;
}

#post-content {
	width:100%;
	height:auto;
	margin:0;
	padding:0;
}

#post-content p {
	text-align: justify;
}

.post-content {
	width:100%;
	height:auto;
	margin:0;
	padding:0;
	overflow:hidden;
}

@media screen and (max-width: 640px) {
	.presentation {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}
/* ################################################################################### */
/* 
	-- HEADER -- 
*/
header {
	margin-bottom: 50px;
	background-color: rgba(178, 11, 0);
	background: linear-gradient(rgba(135, 8, 0,0.8), rgba(135, 8, 0,0.9));
	border-bottom: 1px solid rgba(135, 8, 0, 1);
	height: 150px;
}

.title {
	color:white;
	font-family: 'Ma Shan Zheng', cursive;
}

.title h1 {
	margin-left: 5%;
	font-family: 'Ma Shan Zheng', cursive;
}
/* ################################################################################### */
/* 
	-- MENU -- 
*/
.menu {
	text-align: right;
}

.menu p {
	font-family: 'Patrick Hand', cursive;
	color:white;
	display:block;
}

.menu a {
	display:inline-block;
	margin-left: 5px;
	font-size: 0.8em;
}

.menu a:hover {
	border-bottom: 2px solid white;
	color:white;
}
/* ################################################################################### */
/* 
	-- POST-VIEW -- 
*/
.comment {
	background-color: rgba(17,17,17,0.1);
	margin-bottom: 10px;
}

.comments a {
	color: red;
	font-size: 0.8em;
	text-align: right;
	display: block;
}

.comment-zone {
	background-color: rgba(17,17,17,0.3);
	width:100%;
	text-align: center;
}
/* ################################################################################### */
/* 
	-- POST-LIST -- 
*/
.ticket {
	width:98%;
	margin: 1% auto;
	padding:1%;
	background: linear-gradient(rgba(221, 71, 69),rgba(200, 66, 64));
	font-family: 'Patrick Hand', cursive;
	border: 1px solid rgba(221, 60, 50);
	overflow: hidden;
}

.ticket a:hover {
	color:rgba(17,17,17,0.8);
	text-decoration: none;
}
/* ################################################################################### */
/* 
	-- FOOTER -- 
*/
.footer {
	font-family: 'Patrick Hand', cursive;
}

.footer a, p {
	display: inline-block;
}

.confirm {
	min-height: 600px;
}

.lien-footer {
	color:rgba(178, 11, 0); 
	text-decoration: none;
}
/* ################################################################################### */
/* 
	-- ERRORS -- 
*/
.error {
	display:block;
	padding:0,5%;
}

.footer-error {
	position: absolute;
	bottom:0;
}